/docs
  /css
    record-card.css
  /records
    01-steelers-streak.html
    02-dike-allpurpose.html
    03-jefferson-6seasons.html
    04-allen-300td.html
    05-fg-40-49-rate.html
    06-mcbride-receptions.html
    07-garrett-sacks.html
    08-camlittle-68.html
    09-camlittle-67-outdoor.html
    10-league-60plus.html
